<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TXTReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TXTReader.Properties.Settings>
            <setting name="DEBUG_ADDR" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ADDR" serializeAs="String">
                <value>www.baidu.com</value>
            </setting>
            <setting name="DEBUG_PORT" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>80</value>
            </setting>
        </TXTReader.Properties.Settings>
    </userSettings>
</configuration>